body {
    background-image: url('./cool-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 700px;
    height: 100vh;
    background: rgb(214 242 255 / 50%);
    margin: 0 auto;
}

.header-container {
    height: 150px;
    background: rgb(50 51 119 / 90%);
}

.header {
    color: #fff;
    text-align: center;
    height: 50px;
    font-size: 30px;
    font-weight: 600;
    padding: 20px 10px 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #c7e1f3;
    color: #414584;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 7px;
    width: 55px;
    text-align: center;
    margin: 0 9px;
    transition: all .5s;
    cursor: pointer;
}

.button:hover {
    background-color: #9aadce;
    color: #d6f2ff;
}

.body-container {
    height: calc(100vh - 150px);
    overflow-y: auto;
}

.contents-container {
    display: flex;
    max-width: 700px;
    height: 250px;
    justify-content: space-between;
    margin: 15px;
    background: rgb(65 69 132 / 40%);
    border-top-right-radius: 25px;
}

.image {
    width: 390px;
    height: 250px;
    overflow: hidden;
}

.image img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.title {
    width: 240px;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 600;
    color: #323377;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #323377;
    font-size: 25px;
    font-weight: 600;
    width: 40px;
}

.close a {
    cursor: pointer;
}